---
title: Planned Sprints
layout: page
---

{% for sprint in site.sprints | sort: end_date %}
<h3><a href="{{site.baseurl}}{{ sprint.url }}">{{sprint.title}}</a> (ends on {{sprint.end_date}})</h3>
<ul>
{% for initiative in sprint.initiatives %}
{% for blob in site.initiatives %}
{% assign bits = blob.path | split: '/' %}
{% assign path = bits.last | split: '.md' %}
{% if path[0] == initiative %}
<li>
<a href="{{site.baseurl}}{{blob.url}}">{{ blob.title }}</a> (led by {{ blob.lead }})
</li>
{% endif %}
{% endfor %}
{% endfor %}
</ul>
{% endfor %}

<!-- This is ugly but it works -->

<h3> Unassigned initiatives</h3>
{% for initiative in site.initiatives %}
<ul>
{% assign mapped = false %}
{% for sprint in site.sprints | sort: end_date %}
{% for sub in sprint.initiatives %}
{% assign bits = initiative.path | split: '/' %}
{% assign path = bits.last | split: '.md' %}
{% if sub == path[0] %}
{% assign mapped = true %}
{% endif %}
{% endfor %}
{% endfor %}
{% if mapped == false %}
<li>
{% if initiative.title %}
{% assign title = initiative.title %}
{% else %}
{% assign title = "untitled" %} 
{% endif %}
<a href="{{site.baseurl}}{{initiative.url}}">{{ title }}</a> (led by {{ initiative.lead }})
{% endif %}
</ul>
{% endfor %}

<h3>Kickstart a new initiative: <a class="btn btn-primary" href="http://prose.io/#davidascher/binder/new/gh-pages/_initiatives/">start new initiative (remember the metadata)</a></h3>
