---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>Initiative: {{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

<table class="table">
<tbody>
<tr>
	<th class="text-right">Lead</th>
	<td>{{page.lead}}</td>
</tr>
<tr>
	<th class="text-right">Team</th>
	<td>{{page.team}}</td>
</tr>
<tr>
	<th class="text-right">Bugz</th>
	<td><a href="{{page.bugs}}">Bugs</a></span></td>
</tr>
</tbody>
</table>


  <article class="post-content">
  {{ content }}
  </article>
  {% assign bits = page.url | split: '/' %}
  {% assign subbits = bits.last | split: '.html' %}
  {% assign slug = subbits.last %}
  <div class="text-right">
  <a class="btn btn-secondary" href="http://prose.io/#davidascher/binder/edit/gh-pages/_initiatives/{{slug}}.md">Edit this initiative</a>
  </div>
</div>
